html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div.dayslist {
    width: 200px;
    font-family: sans-serif;
    color: #333;
}
    .dayslist table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid black;
    }

    .dayslist tbody tr {
        cursor: pointer;
    }

        .dayslist tbody tr.total, .dayslist tbody tr.selected {
            cursor: default;
        }

    .dayslist th {
        background-color: #eee;
        font-variant:small-caps;
        padding: 1px 4px;
        border-bottom: 1px solid black;
    }

        .dayslist thead th {
            position: relative;
            text-align: center;
        }

            .dayslist .next, .dayslist .prev {
                display: block;
                position: absolute;
                width: 14px;
                top: 2px;
                height: 14px;
                font-size: 11px;
                border: 1px solid #333;
                border-radius: 8px;
                background-color: white;
                cursor: pointer;
                border-top-color: #666;
                border-left-color: #666;

                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .dayslist .next {
                right: 2px;
            }

            .dayslist .prev {
                left: 2px;
            }

        .dayslist tbody th {
            text-align: left;
        }

    .dayslist td {
        border: 1px solid black;
        text-align: right;
    }
        .dayslist td span {
            font-size: 80%;
            padding-left: 2px;
        }

        .dayslist td.zero-time {
            color: #666;
            font-size: 80%;
        }

    .dayslist .total {
    }

        .dayslist .total th {
            font-weight: bold;
            background-color: #ddd;
        }

        .dayslist .total td {
            font-weight: bold;
            background-color: #eee;
        }

    div.dayslist td.in-the-black { /* Higher specificity to beat zero-time color */
        color: green;
    }

    div.dayslist td.in-the-red {
        color: red;
    }

    .dayslist tbody .selected th, .dayslist tbody .selected td {
        color: black;
        background-color: cornflowerblue;
    }


div.timegrid {
	width: 600px;
	font-family: sans-serif;
	color: #333;
}

    .time-entry-pane, div.timegrid {
        /* for scrolling */
        height:100%;
    }

    .timegrid .scroll-container {
        height: 100%;
        overflow-y: auto;
    }

	.timegrid table {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid black;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
	}

	.timegrid th {
		background-color: #eee;
		font-variant:small-caps;
		padding: 1px 4px;
	}
		
		.timegrid thead th {
			text-align: center;
			border-left-color: black;
		}
		
		.timegrid tbody th, .timegrid thead th:first-child {
			text-align: right;
			width: 4.2em;
		}
	
	.timegrid th, .timegrid td {
		border: 1px solid black;
	}

    .timegrid tbody tr {
        height: 40px;
    }
	
	.timegrid td {
		position: relative;
	}

		.timegrid .small-ticks {
			position: absolute;
			height: 60%;
			bottom: 0;
		
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
		}
	
		.timegrid .large-ticks {
			position: absolute;
			height: 100%;
			bottom: 0;
		
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
		}
	
		.timegrid .ticks-1 {
			left: 8.333%;
			right: 8.333%;
		}
	
		.timegrid .ticks-2 {
			left: 16.667%;
			right: 16.667%;
		}
	
		.timegrid .ticks-3 {
			left: 25%;
			right: 25%;
		}
	
		.timegrid .ticks-4 {
			left: 33.333%;
			right: 33.333%;
		}
	
		.timegrid .ticks-5 {
			left: 41.667%;
			right: 41.667%;
		}
	
		.timegrid .ticks-middle {
			left: 50%;
			width: 1px;
			border-right-style: none;
		}
	
		.timegrid .time-bar {
			position: absolute;
			top: 0;
			bottom: 0;
            left: 0;
            right: 0;
			opacity: .8;
			border-width: 1px;
			border-style: solid none;

            color: black;
            text-align: center;
            font-weight: bold;
            font-size: 80%;
            line-height: 150%;
            overflow: hidden;
            text-overflow: ellipsis;
		}
	
			.timegrid .start {
				border-left-style: solid;
				border-top-left-radius: 1em;
				border-bottom-left-radius: 1em;
			}
	
			.timegrid .end {
				border-right-style: solid;
				border-top-right-radius: 1em;
				border-bottom-right-radius: 1em;
			}

            .timegrid .time-bar.selected {
                opacity: 1;
                border-color: #333 !important;
            }

    .timegrid .mark {
        position: absolute;
        height: 120%;
        width: 2px;
        top: -10%;
        left: 55%;
        margin-left: 0;
        z-index: 100;
    }

        .timegrid .mark.now {
            background-color: rgb(90, 107, 236);
        }

        .timegrid .mark.end-of-day {
            background-color: rgb(30, 198, 80);
        }

    .timegrid .jira-create-worklog {
        font-size: 90%;
        text-decoration: none;
        color: black;
        font-weight: normal;
    }

        .timegrid .jira-create-worklog .check {
            font-weight: bold;
            text-shadow: 1px 2px black;
        }

        .timegrid .jira-create-worklog:visited .check {
            color: white;
        }

        .timegrid .jira-create-worklog img {
            height: 1em;
            width: 1em;
        }

div.time-entry-details {
    border: 1px solid black;
    padding: 5px;
    display: none;
}
    div.time-entry-details.open {
        display: block;
    }

div.dayslist {
    float: left;
}

div.timegrid {
	float: left;
    margin-left: .5em;
}

div.time-entry-details {
	float: left;
	margin-left: .5em;
}

form label {
    font-weight: bold;
}

.form-field, .form-buttons {
    margin-top: .5em;
    margin-bottom: .5em;
}

.form-buttons {
    text-align: right;
}

.task-form label {
    display: inline-block;
    width: 3.5em;
}

.footer {
    position: fixed;
    width: auto;
    bottom: 0;
    right: 0;
    padding: 1px;
}