<div class="slide-out-menu">
    <div class="slide-out-menu-header">
        <div class="menu-header-text" data-dojo-attach-point="descriptionNode"></div>
        <img class="close-icon" src="./VodoriTime_files/554c5badc4a9e94d1c7a4ef4_close_icon.png"
             data-ix="close-menu">

        <div class="checkbox tall menu"></div>
    </div>
    <div class="menu-content-block" style="display: none;"><h3>BigTime Entry</h3>

        <div class="input-group">
            <div class="input-label">Project SOW #</div>
            <div class="dropdown-field"><img class="dropdown-arrow-icon"
                                             src="./VodoriTime_files/554c5b292cb6bf677667bc8a_dropdown_arrow.png">
            </div>
        </div>
        <div class="input-group inactive-input">
            <div class="input-label">Task</div>
            <div class="dropdown-field"><img class="dropdown-arrow-icon"
                                             src="./VodoriTime_files/554c5b292cb6bf677667bc8a_dropdown_arrow.png">
            </div>
        </div>
        <div class="input-group">
            <div class="input-label">COMMENT</div>
            <div class="dropdown-field comment"></div>
        </div>
    </div>
    <div class="menu-content-block"><h3>JIRA Entry</h3>

        <div class="input-group">
            <div class="input-label">Issue Number</div>
            <div class="dropdown-field" data-dojo-attach-point="jiraKeyNode"><img class="dropdown-arrow-icon"
                                             src="./VodoriTime_files/554c6112c4a9e94d1c7a50de_dropdown_arrow_up.png">

                <!--<div class="dropdown-field-open">-->
                    <!--<div class="issue-number">XD-521&nbsp;Someday Video on v.com</div>-->
                    <!--<div class="issue-number">XD-525&nbsp;HAEHope Banner Edits</div>-->
                    <!--<div class="issue-number">XD-567&nbsp;ADD&nbsp;Homepage Mockup for&nbsp;Global...-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="input-group">
            <div class="input-label">COMMENT</div>
            <div class="dropdown-field comment">

            </div>
        </div>
    </div>
</div>